#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "netdata"
name = "NetData"
description.en = "Real-time performance and health monitoring"
description.fr = "Monitoring serveur en temps reel"

version = "2.8.3~ynh1"

maintainers = ["JimboJoe"]

[upstream]
license = "GPL-3.0"
website = "http://my-netdata.io"
demo = "https://learn.netdata.cloud/docs/agent/demo-sites/"
admindoc = "https://learn.netdata.cloud/docs"
code = "https://github.com/netdata/netdata"

[antifeatures]
not-totally-free-upstream.en = "Netdata now includes a dependencie to a UI which is under a shady license that forbids reverse engineering or customisation. See: https://github.com/YunoHost/apps/pull/2519"
not-totally-free-upstream.fr = "Netdata inclut maintenant une dépendance à une interface utilisateur qui est sous une licence bizarre qui interdit la rétro-ingénierie ou la personnalisation. Voir : https://github.com/YunoHost/apps/pull/2519"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "1500M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/netdata"

    [install.init_main_permission]
    type = "group"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/netdata/netdata/releases/download/v2.8.3/netdata-v2.8.3.tar.gz"
    sha256 = "bc88f8e043aa8b78bffbdc11d60be6a2132ca9f690518c09ba7881006d7b13f5"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^netdata-v([0-9.]*)tar.gz$"
    [resources.sources.go]
    amd64.url = "https://go.dev/dl/go1.22.4.linux-amd64.tar.gz"
    amd64.sha256 = "ba79d4526102575196273416239cca418a651e049c2b099f3159db85e7bade7d"
    i386.url = "https://go.dev/dl/go1.22.4.linux-386.tar.gz"
    i386.sha256 = "47a2a8d249a91eb8605c33bceec63aedda0441a43eac47b4721e3975ff916cec"
    arm64.url = "https://go.dev/dl/go1.22.4.linux-arm64.tar.gz"
    arm64.sha256 = "a8e177c354d2e4a1b61020aca3562e27ea3e8f8247eca3170e3fa1e0c2f9e771"
    armhf.url = "https://go.dev/dl/go1.21.5.linux-armv6l.tar.gz"
    armhf.sha256 = "837f4bf4e22fcdf920ffeaa4abf3d02d1314e03725431065f4d44c46a01b42fe"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "cmake, ninja-build, pkg-config, bison, flex, gcc, g++, git, mariadb-server, libelf-dev, libssl-dev, liblz4-dev, zlib1g-dev, uuid-dev, libyaml-dev, libjson-c-dev, libuv1-dev, curl, gzip, libatomic1, libmnl-dev, libsystemd-dev, python3, tar, libcurl4-openssl-dev"

    [resources.database]
    type = "mysql"
